---
import Bureau from '../../../assets/about/bureau.jpg'
import { Image } from 'astro:assets'
import Mail from '../../../assets/footer/mail.svg'
import Phone from '../../../assets/footer/phone.svg'
---

<div class="py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h1 class="text-5xl mb-4 text-gray-900">À propos</h1>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        La continuité d’une passion
      </p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center mb-16">
      <div class="relative h-[732px] rounded-lg overflow-hidden shadow-xl">
        <Image
          src={Bureau}
          width={584}
          quality={90}
          alt="Espace de travail de restauration"
          class="w-full h-full object-cover"
        />
      </div>
      <div>
        <h2 class="text-3xl mb-4 text-gray-900">Mon histoire</h2>
        <div class="space-y-4 text-gray-700 text-justify">
          <p>
            Bonjour à toutes et à tous ! Je m’appelle Charlotte Vandenbroucke,
            j'ai commencé à collectionner les cartes Pokémon en 2008, j'ai donc
            connu comme beaucoup d’entre vous la cour de récréation où les
            cartes Pokémon s'échangeaient et étaient même parfois interdites.
          </p>
          <p>
            Et ce qu’on peut dire c'est qu'à cette époque beaucoup d'entre nous
            ne prenaient pas soin de leurs classeurs, les cartes ont souvent vu
            du gravier, des mains pas très propres et des manipulations très peu
            délicates.
          </p>
          <p>
            Une partie des miennes ont été volées, abîmées, et même perdues.
            Après la sortie de la série du bloc ev3.5 en septembre 2023, j'ai
            commencé à me replonger dans la collection. J'ai retrouvé une partie
            de ma collection de quand j'étais petite chez mes parents et je n'ai
            pas résisté longtemps à me refaire un classeur.
          </p>
          <p>
            Puis j'ai acheté des cartes à l'unité que ça soit en japonais ou en
            français, et un jour après avoir acheté une carte un ami me l'a
            abîmée en essayant de la restaurer, c'était la carte de mes rêves.
            J'étais extrêmement triste et démunie, je ne savais pas vers qui me
            tourner ou s'il existait vraiment une solution ?
          </p>
          <p>
            Les prestations de restaurations de cartes sont souvent onéreuses
            alors j'ai décidé de le faire moi-même. C’était une occasion
            d'ouvrir une porte alors encore jamais explorée. D'une carte abîmée
            est née une envie, l'améliorer pour tenter de retrouver son état
            initial, préserver l'émotion qu’elle renferme. Tout bon
            collectionneur de carte Pokémon a une carte à laquelle il pense
            quand on lui dit le mot "collection", des émotions attachées à
            celle-ci.
          </p>
          <p>
            Aujourd'hui je restaure les cartes de ma collection, celles de mes
            amis et c’est pour ça que j'ai créé Fix My Card, l'objectif étant de
            prendre soin de vos cartes de collection, et ainsi préserver ces
            émotions qui nous sont si chères, celles pour lesquelles nous
            continuons à être passionnés.
          </p>
        </div>
      </div>
    </div>

    <div
      class="text-card-foreground flex flex-col gap-6 rounded-xl border
      bg-gradient-to-r from-purple-600 to-blue-600 text-white text-center"
    >
      <div class="px-6 [&:last-child]:pb-6 pt-8 pb-8">
        <h2 class="text-3xl mb-4">Envie d'en savoir plus ?</h2>
        <p class="text-xl text-blue-100 mb-6">
          N'hésitez pas à me contacter pour discuter de votre projet
        </p>
        <div class="space-y-2 flex flex-col items-center justify-center">
          <p class="text-xl flex flex-row items-center justify-center">
            <Mail
              height="18"
              width="18"
              aria-hidden="true"
            />&nbsp;fixmycard34@gmail.com
          </p>
          <p class="text-xl flex flex-row items-center justify-center">
            <Phone height="18" width="18" aria-hidden="true" />&nbsp;+33 6 99 75
            74 26
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
